@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");


:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
  }

*{
    margin: 0;
    padding: 0
}


ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  a:hover {
    color: var(--secondary-color);
  }

body{
    background: whitesmoke;
     font-family: var(--font-family);

}

header{
  padding: 50px;
  background-color: #fcfcfc;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
}

.caja{
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.caja h1{
  color: #4756df;
  font-size: 25px;
}


nav{
    color: #4756df;
    position: absolute;
    top: 30px;
    right: 0;
    
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
  }
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }


nav li{
  display: inline;
  margin: 0 0 0 15px;
  
}

nav ul li {
    font-weight: bold;
}



/*main*/

/*
.sobreMi{
    margin: 100px auto;
    background-color: rgb(240, 240, 240);
    padding: 20px;
    font-size: 13px;
}

.sobreMi img{
    display: block;
    width: 13%;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.sobreMi hr{
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 10px;

}

.sobreMi p{
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    width: 50%;
}
*/
