@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");


:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
  }

*{
    margin: 0;
    padding: 0
    
}



ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  a:hover {
    color: var(--secondary-color);
  }

body{
    background: whitesmoke;
    font-family: var(--font-family);
    position: relative;
    padding-bottom: 150px;
    min-height: 100vh;
    overflow-x: hidden;
}

header{
  padding: 50px;
  background-color: #fcfcfc;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
}

.caja{
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.caja h1{
  color: #4756df;
  font-size: 25px;
}


nav{
    color: #4756df;
    position: absolute;
    top: 30px;
    right: 0;
    
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
  }
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }


nav li{
  display: inline;
  margin: 0 0 0 15px;
  
}

nav ul li {
    font-weight: bold;
}

/*main*/
/*sobremi*/
.sobremi{
  width: 940px;
  margin: 0 auto;
  padding: 15em;
}

.sobremi img{
  border-radius: 5px;
}

.principal{
  width: 50%;
  background: rgb(236, 234, 234);
  float: right;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0.2, 0.2, 0.2, 0.2);
}

.principal p{
  margin-top: 10px;
}
/*servicios*/

#services {

  
  width: 940px;
  margin: 0 auto;
  
}

.container {
  text-align: center;
}

.container h2{
  text-align: left;
  
}

.service {
  margin-bottom: 40px;

}

.service h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.service p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
}


/*footer*/
#contacto {
  padding: 20px;
  background-color: #fcfcfc;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  width: 100%;
  
}



.socials {
  margin-bottom: 20px; /* Reducir el margen inferior */
}

.socials a {
  margin-right: 10px; /* Espacio entre los iconos sociales */
}

.copy {
  text-align: center;
}

.socials hr{
  width: 14%;
}

/*responsive*/
@media screen and (max-width: 480px) {

h2{
  text-align: center;
}

nav{
  position: static;
}

.caja{
  width: auto;
  
}

.sobremi{
  width: auto;
  padding: 0;
  margin-top: 200px;

}

.sobremi img{ 
  display: block;
  margin: 10px auto; /* Centra la imagen horizontalmente */
  width: 50%; /* Hace que la imagen ocupe el 50% del ancho del contenedor */
}

.principal{
  font-size: 14px;
  width: 70%;
  display: block;
  float: none;
  margin: 20px auto;
}

#skills{
  padding: 0;
  margin-top: 2em;
}

#services{
  width: auto;
  padding: 0;
}

#services h2{
  text-align: center;
}

.service{
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
}

.form-contacto{
  width: auto;
  padding: 0;
}

form{
  width: 70%;
}

.form-contacto h2{
  text-align: center;
  
}

.tec{
  width: 25%;
  float: right;
  margin-top: 20px;
}

}
